// ======== css reset ========
@import "../reset.css";

// ======== variables ========
$textBlack: #414141;
$beige: #f3ede8;

// ======== mixin ========
@mixin smallTitle {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 10px;
  text-transform: uppercase;
}
@mixin serif {
  font-family: 'Cormorant';
}
@mixin italic {
  font-style: italic;
}
@mixin title {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  line-height: 1.1;
  width: 80%;
  @include serif;
}
@mixin sectionMarginBottom {
  margin-bottom: 80px;
}

// ======== style ========
body {
  padding: 70px 140px 0 140px;
  font-family: 'Montserrat', 'Cormorant',sans-serif;
}
body * {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
}

.header {
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 140px;
  background-color: #fff;
  display: flex;
  align-items: center;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    svg {
      width: 36px;
    }
    ul {
      display: flex;
      li {
        @include smallTitle;
        &:not(:first-child) {
          margin-left: 60px;
        }
      }
    }
  }
}

.banner {
  height: 100vh;
  width: 100%;
  background-image: url("./src/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  @include sectionMarginBottom;
  h4 {
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 60px;
    text-align: center;
    line-height: 1.1;
    width: 50%;
    font-weight: 300;
    @include serif;
    em {
      @include italic;
    }
  }
  a {
    color: #fff;
    border: 1px solid #fff;
    margin-top: 50px;
    padding: 30px 0;
    width: 240px;
    text-align: center;
    transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    @include smallTitle;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

.under-banner {
  display: flex;
  height: 80vh;
  @include sectionMarginBottom;
  img {
    width: 50%;
    height: 100%;
  }
  div {
    width: 50%;
    height: 100%;
    background-color: $beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $textBlack;
    h4 {
      @include smallTitle;
      margin-bottom: 20px;
    }
    h3 {
      @include title;
      em {
        @include italic;
      }
    }
    a {
      margin-top: 65px;
      border: 1px solid $textBlack;
      width: 295px;
      height: 55px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 25px;
      transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      @include smallTitle;
      &:hover {
        color: #fff;
        background-color: $textBlack;
      }
      span {
        width: 55px;
        height: 55px;
        border-left: 1px solid $textBlack;
        line-height: 55px;
        text-align: center;
      }
    }
  }
}

.blog {
  width: 100%;
  color: $textBlack;
  @include sectionMarginBottom;
  .blog__post {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    .post__content {
      background-color: $beige;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h4 {
        @include title;
      }
      .post__date {
        margin-bottom: 20px;
        font-size: 18px;
        @include serif
      }
      .post__more {
        margin-top: 30px;
        display: flex;
        align-items: center;
        @include smallTitle;
        span {
          font-size: 18px;
          margin-left: 10px;
        }
      }
    }
    &:nth-child(even){
      img {
        order: 1;
      }
    }
  }
}
