// ### css reset
@import "../reset.css";

// ### variables
$brown: #af7832;

// ### mixin

// ### style
a { text-decoration: none; }
* { box-sizing: border-box; }
body {
  font-family: 'Roboto', sans-serif;
  background-color: $brown;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.3fr 2fr 1.3fr;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  gap: 1px;
  & > div, span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 18px;
    color: $brown;
    text-transform: uppercase;
  }
  .menu {
    grid-column-start: -2;
  }
  .center-image {
    grid-column: 2 / -2;
    grid-row: 2 / -2;
    background-image: url("./src/Pervorse_4-600x600.jpg");
    background-position: center;
    background-size: cover;
  }
  .number__row {
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    background-color: $brown;
    gap: 1px;
    .number {
      background-color: #fff;
      color: $brown;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .1s linear;
      &:hover {
        background-color: $brown;
        color: #fff;
      }
    }
  }
  .scrolling__text {
    white-space: nowrap;
    overflow: hidden;
  }
}
